<div class="nav-wrap min-height-nav">
  <div class="ui container min-width" style="position: relative;">
    <!-- left menu -->
    <div class="nav-cell" style="margin-left: 24px;">
      포스트
    </div>
    <div class="nav-cell">
      동영상 강의
    </div>
    <div class="nav-cell">
      컨텐츠 마켓
    </div>
    <div class="nav-cell">
      개발/디자인 의뢰
    </div>
    <div class="nav-cell">
      커뮤니티
    </div>

    <!-- right icon -->
    <div class="nav-right">
      <div class="nav-right-cell">
        <i class="envelope icon"></i>
      </div>
      <div class="nav-right-cell">
        <i class="bell icon"></i>
      </div>
      <div class="nav-right-cell">
        <i class="user icon"></i>
      </div>
    </div>
  </div>
</div>
