/*************************************
 * Default Tag
 *************************************/
* { outline: none; }
a:link { text-decoration:none;}
a:visited { text-decoration:none; }
a:active { text-decoration:underline;}
a:hover { text-decoration:none; }

/*************************************
 * Color
 *************************************/
.background-light-gray {
  background: #fafafa;
}
.background-dark {
  background: #24292e;
}
.background-blue-gray {
  background: #f2f4f7;
}

/*************************************
 * Font
 *************************************/
/* effect */
.bold {
  letter-spacing: -1px;
  font-weight: 800;
}
.llink {
  color: #1d69a4;
}
.llink:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*************************************
 * Box
 *************************************/
.lbox {
  background: #fff;
  border: solid 1px #d1d8e4;
  letter-spacing: -1px;
}
.lbox-header {
  background: #d9dee6;
  padding: 4px 8px;
  font-weight: 800;
  border-bottom: solid 1px #d1d8e4;
}
.lbox-body {
  padding: 4px 8px;
}

.litem:hover {
  cursor: pointer;
  font-weight: 800;
}

/*************************************
 * Layout
 *************************************/
.foo-cell {
  width: 20%;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  border-right: solid 1px #e7e9ed;
  text-align: center;
  font-size: 1.0rem;
  font-weight: 700;
  letter-spacing: -1px;
  cursor: pointer;
}
.foo-cell.first {
  border-left: solid 1px #e7e9ed;
}
.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: solid 1px #e7e9ed;
}
.nav-right {
  float: right;
  line-height: 48px;
  font-size: 20px;
}
.nav-right-cell {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
}
.nav-right-cell:hover {
  opacity: 0.6;
}
.nav-cell {
  color: #222;
  font-size: 16px;
  line-height: 45px;
  font-weight: 500;
  letter-spacing: -1px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0 24px 0 0;
  border-bottom: solid 3px #fff;
}
.nav-cell:hover {
  font-weight: 600;
  border-bottom: solid 3px #222;
}

.min-width {
  min-width: 1000px;
}
.min-height-nav {
  min-height: 48px;
}
.min-height-body {
  min-height: 1000px;
}


/*************************************
 * ETC Component
 *************************************/
.separator {
  display: inline-block;
  margin: 0 6px;
  padding: 0;
  color: #e7e7e7;
}
